{% extends "base.html" %}
{% load i18n %}
{% block page %}{% trans "Change Password" %}{% endblock %}

{% block Content %}
    {% load static from staticfiles %}
    <article>
        <form action="/accounts/profile/change-password/" method="POST" >{% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="field-wrapper">
                    <br />
                    {{ field.label_tag }}
                    {% if field.field.required %}
                        <span class="required">*</span>
                    {% endif %}
                </div>

                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <br /><br />
            <input type="submit" value="{% trans "Change" %}"  class="btn btn-default"/>
            <input type="reset" value="{% trans "Reset" %}"  class="btn btn-default" />
        </form>
    </article>
{% endblock %}
