django==1.5.1
PIL
celery
pytz
redis-sessions
redis
django-redis-sessions
django-redis-cache
ckeditor --> http://ckeditor.com/download
unidecode -->  https://pypi.python.org/pypi/Unidecode/
debug-toolbar
django-celery
celery
rabbitmq
rabbitmq-server

